[submodule "games/tron"]
	path = games/tron
	url = https://github.com/rTrev6/Tron-Light-Cycles-modulo-4
[submodule "games/snake"]
	path = games/snake
	url = https://github.com/Chris15-10/Serpiente-
[submodule "games/bomberman"]
	path = games/bomberman
	url = https://github.com/katex009/bomberman
[submodule "games/space-invaders"]
	path = games/space-invaders
	url = https://github.com/alecsoc/space-invaders-toad-edition
[submodule "games/centipede"]
	path = games/centipede
	url = https://github.com/JZORs/Centipede
[submodule "games/donkey-kong"]
	path = games/donkey-kong
	url = https://github.com/DiGiorgio-L/Donkey-Kong-modulo-1-TOAD-Jueves-
[submodule "games/galaga"]
	path = games/galaga
	url = https://github.com/Dano-jp/Galaga
[submodule "games/mario-bros"]
	path = games/mario-bros
	url = https://github.com/erocxs/Mario-Bros-TOAD
[submodule "games/frogger"]
	path = games/frogger
	url = https://github.com/Juqn21/frogger
[submodule "games/flappy-bird"]
	path = games/flappy-bird
	url = https://github.com/Dano-jp/flappy-bird
[submodule "games/street-fighter"]
	path = games/street-fighter
	url = https://github.com/kems0712/street_fighter_arcade
[submodule "games/arkanoid"]
	path = games/arkanoid
	url = https://github.com/cesarodriguez322-arch/Arkanoid.git
[submodule "games/pacman"]
	path = games/pacman
	url = https://github.com/CesarMoya27/Proyecto-PacMan.git
[submodule "games/duck-hunt"]
	path = games/duck-hunt
	url = https://github.com/Gabriel66-ux/Duck-Hunt
[submodule "games/tetris"]
	path = games/tetris
	url = https://github.com/Neritoou/Tetris.git
[submodule "games/jumper"]
	path = games/jumper
	url = https://github.com/V1ct0r0c/JUMPER-dino
[submodule "games/breakout"]
	path = games/breakout
	url = https://github.com/isaacj810/Breakout-
	branch = main
